.spilt{
    height:auto;
    /*position: fixed;*/
    padding-top: 20px;
}

.left{
    width: 20%;
    background-color: #02475E;
}

.top{
    width: 200px;
    padding-left: 200px;
    background-color: #0F044C;
    color: aliceblue;
}

img{
    height: 100px;
    width: 200px;
}

h4{
    color: aliceblue;
    padding-left: 20px;
}